.bigtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
  }
  .bigtext-heading{
    display: flex;
    gap: 20px;
    margin: 20px;
  }
  .bigtext h1 {
    font-size: 54px;
    font-weight: 500;
    margin: 0;
  }
  
  .bigtext p {
    font-size: 14px;
    color: #b8b8b8;
  }
  
  .bigtext p:last-child {
    color: #ff9933;
  }
  .cloud-icon {
    transform: rotate(-10deg);
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    background-color: #1f1f1f;
    border-radius: 20px;
    width: 70px;
  }