.bigtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
  }
  .bigtext-heading{
    display: flex;
    gap: 20px;
    margin: 20px;
  }
  .bigtext h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  .bigtext p {
    font-size: 0.76rem;
  }
  
  .bigtext p:last-child {
    color: orange;
  }
  .cloud-icon {
    transform: rotate(-20deg);
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
  }