.bigbutton {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  margin: 60px;
}

.bigbutton1,
.bigbutton2 {
  padding: 12px 30px;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  width: 250px;
  height: 65px;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
}

.bigbutton1 {
  background-color: transparent;
  border: 1px solid orange;
}

.bigbutton2 {
  background: linear-gradient(90deg, #ff8c00, #ffd700);
  border: 1px solid orange;
}

.bigbutton span {
  color: white;
  font-size: 1rem;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.bigbutton .FaExclamation {
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: 300px;
  background-color: #333;
  color: #fff;
  text-align: left; /* Align text to the left */
  border-radius: 6px;
  padding: 10px;
  position: fixed; /* Position relative to the viewport */
  z-index: 1000;
  font-size: 0.75rem; /* Smaller font size */
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* Prevent tooltip from blocking clicks */
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}