.bigbutton {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  margin: 60px;
}

.bigbutton button {
  padding: 23px 32px;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 250px;
  height: 65px;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
  transition: border 0.3s ease, background 0.3s ease;
}
.bigbutton1{
  background-color: transparent;
  border: 1px solid rgb(169, 169, 169);
}
.bigbutton2{
  background-color: #ffffff26;
  border: 1px solid #ffffff26;
}
.bigbutton1:hover {
  border: 1px solid orange;
}

.bigbutton2:hover {
  background: linear-gradient(90deg, #ff8c00, #ffd700);
  border: 1px solid orange;
}

.bigbutton span {
  color: white;
  font-size: 16px;
}

/* another issue */

.tooltip-container {
  position: relative;
  display: inline-block;
}

.bigbutton .FaExclamation {
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: 300px;
  background-color: #333;
  color: #fff;
  text-align: left; 
  border-radius: 6px;
  padding: 10px;
  position: fixed; 
  z-index: 1000;
  font-size: 0.75rem; 
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; 
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}